h2 {
 padding-bottom: 10px;
 border-bottom: 2px solid #d5d4d4;
}
.box {
 padding: 10px;
 margin: 5px;
 background: rgb(110, 193, 110);
 border: 2px solid rgb(64, 64, 190);
}
.block {
 display: block;
}
.inline {
 display: inline;
 /* width: 100px;
 height: 80px; */
}
.inline-block {
 display: inline-block;
 width: 100px;
 height: 80px;
}
.none {
 display: none;
}
.flex-container {
 display: flex;
 gap: 10px;
 background: #ec5d5d;
 padding: 10px;
}
.grid-container {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 10px;
 background: #d5d4d4;
 padding: 10px;
}
.relative {
 position: relative;
 top: 10px;
 left: 20px;
 background-color: aqua;
}
.absolute-parent {
 height: 180px;
}
.absolute-child {
 position: absolute;
 margin-top: 20px;
 margin-left: 100px;
}
.sticky {
 position: sticky;
 top: 0;
 background: rgb(116, 54, 116);
 color: #fdfbfb;
 padding: 10px;
}
.fixed {
 position: fixed;
 right: 10px;
 bottom: 10px;
 background-color: brown;
 padding: 20px;
}


.z-box1 {
 position: absolute;
 top: 20px;
 left: 20px;
 z-index: 3;
 background: #ec5d5d;
}
.z-box2 {
 position: absolute;
 top: 50px;
 left: 50px;
 z-index: 2;
 background: #ec5d5d;
}