table{
    margin: auto;
}

table, th, tr,td {
    border: 3px solid black;
    background-color: aqua;

    }

    #box{

        background-color: aquamarine;
        width: 300px;
        height: 300;
        /* margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px; */
        margin: 50px 10px 50px 10px;
        border: 5px solid red;
        padding: 50px;
    }


